@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin fade-in($duration, $timing-function) {
  animation-name: fade-in;

  @content;
}

.kek {
  @include fade-in() {
    animation-duration: 1s;
  }
}
