// box mixins

@mixin flex($j: flex-start, $a: center, $d: row) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin min-size($size) {
  min-width: $size;
  min-height: $size;
}

@mixin max-size($size) {
  max-width: $size;
  max-height: $size;
}

@mixin strict-size($size) {
  @include size($size);
  @include min-size($size);
  @include max-size($size);
}

@mixin mv($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin mh($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin pv($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin ph($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

// box mixins end

// interactive mixins

@mixin clickable($color) {
  transition: $transition;
  cursor: pointer;

  &:hover {
    color: $color;
  }
}

// interactive mixins end

// font mixins

@mixin font($size, $weight: 400, $height: 1.3) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

// font mixins end
