$primary: var(--color-primary);
$secondary: var(--color-secondary);
$teritary: var(--color-teritary);
$quaternary: var(--color-quaternary);
$fifth: var(--color-fifth);

$error: var(--color-error);
$warning: var(--color-warning);
$info: var(--color-info);
$success: var(--color-success);

$space: var(--space);

$xxs: 320px;
$xs: 375px;
$sm: 480px;
$md: 769px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1366px;

$border-radius: 4px;
$control-height: 46px;
