$primary: var(--color-primary);
$secondary: var(--color-secondary);
$teritary: var(--color-teritary);
$quaternary: var(--color-quaternary);
$fifth: var(--color-fifth);

$error: var(--color-error);
$warning: var(--color-warning);
$info: var(--color-info);
$success: var(--color-success);

$space: var(--space);

$xxs: var(--breakpoint-xxs);
$xs: var(--breakpoint-xs);
$sm: var(--breakpoint-sm);
$md: var(--breakpoint-md);
$lg: var(--breakpoint-lg);
$xl: var(--breakpoint-xl);
$xxl: var(--breakpoint-xxl);
