@import 'core.scss';

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.isvg.loaded {
  line-height: 0;
}
